* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1c1f22;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 5px;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

body {
    background-color: #1c1f22;
    color: #ffffff;
    scroll-behavior: smooth;
}

/*--------------MAIN----------------*/

.wrapper {
    min-height: 100vh;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*--------------HEADER----------------*/

.header {
    z-index: 1000;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1c1f22;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all 0.5s ease;
}

.title-logo {
    width: 200px;
    height: 50px;
    background-image: url('./assets/images/title.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

.title-logo:hover {
    transform: scale(1.05);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav a {
    color: #ffffff;
}
.nav a:hover {
    color: #b84900;
}

.active-link {
    color: #ff6600 !important;
}


.search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.animelist-search-input {
    width: 250px;
    border-radius: 10px;
    padding-left: 10px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    transition: 0.3s;
    color: #000000;
}

.animelist-search-input:focus {
    box-shadow: 0 0 20px #ff6600;
    background-color: #000000;
    color: #ffffff;
}

.animelist-search-input:hover {
    background-color: #000000;
    box-shadow: 0 0 20px #ffffff;
    color: #ffffff;
}

.small__button {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
    background: #b84900;
    width: 75px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    align-self: center;
    border: 2px inherit solid;
    border-radius: 10px;
}

.blue__button {
    background: linear-gradient(to bottom, cyan, lightblue);
    color: #1c1f22;
}

.red__button {
    background: linear-gradient(to bottom, #ff7f7f, lightcoral);
    color: #1c1f22;
}

.small__button:hover {
    border: 2px #ffffff solid;
}

.small__button:active {
    transform: scale(1.1);
    transition: all 0.1s;
}

.auth-container {
}
.auth-container div {
    width: 50px;
    height: 50px;
    background: url('assets/images/Lenore_Infobox.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 50%;
    border: 2px #ff6600 solid;
}

.main {
    flex: 1;
    padding-top: 70px;
}

/*--------------HOMEPAGE----------------*/

.homepage-wrapper {
    display: flex;
}

.description-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px;
    gap: 30px;
}

.description-title {
    font-weight: bold;
    font-size: 28px;
}

.description-text {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.big__button {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: lighter;
    background: linear-gradient(to bottom, #ff6600, #b84900);
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    align-self: center;
    border: 2px #b84900 solid;
    border-radius: 30px;
}

.big__button:hover {
    border: 2px lightgrey solid;
    transition: all 0.5s ease;
}

.big__button:active {
    transform: scale(1.1);
}

.img-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-wrap {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background: radial-gradient(#ff6600, #1c1f22 70%);
}

.img {
    width: 750px;
    height: 750px;
    background: url('assets/images/Lenore_Infobox.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}

/*--------------ANIMELIST----------------*/
.animelist-page-wrapper {
    background-color: #1c1f22;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*--------------filter-panel----------------*/

.filter-panel-wrapper {
    position: relative;
    width: 20%;
    background-color: #2e3338;
    border-radius: 20px;
}

.filter__panel__container {
    padding-top: 15px;
    position: sticky;
    top: 70px;
    left: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
}

.filter__panel__title {
    padding-left: 10px;
    text-align: left;
    width: 100%;
    line-height: 30px;
    font-size: 18px;
    font-family: "Bahnschrift";
    background-color: #25292D;
    border-left: 5px solid #b84900;
}

/*-----------------------------select---------*/
@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.select__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.select__container {
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.custom-select__control {
    width: 100% !important;
    background: #1c1f22 !important;
    border: none !important;
    box-shadow: none !important;
}

.custom-select__control--menu-is-open {
    background-color: #1c1f22 !important;
    box-shadow: 0 0 20px #ff6600 !important;
    color: #ffffff !important;
}

.custom-select__control:hover {
    background-color: #1c1f22 !important;
    box-shadow: 0 0 20px #ffffff !important;
    color: #ffffff !important;
}

.custom-select__value-container {
    padding: 0 !important;
    cursor: text !important;
}

.custom-select__input-container {
    color: #ffffff !important;
}
.custom-select__indicator-separator {
    display: none;
}

.custom-select__indicators {
    cursor: pointer !important;
}

.custom-select__indicator {
    color: rgba(255, 255, 255, 0.4) !important;
}
.custom-select__indicator:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.custom-select__multi-value {
    background-color: rgba(255, 102, 0, 0.6) !important;
    border-radius: 5px !important;
}
.custom-select__multi-value__label {
    font-size: 14px !important;
    color: #ffffff !important;
}
.custom-select__multi-value__remove {
    background-color: transparent !important;
    cursor: pointer !important;
}

.custom-select__multi-value__remove:hover {
    background-color: rgba(255, 102, 0, 1) !important;
    color: #ffffff !important;
}

.custom-select__menu {
    background-color: #1c1f22 !important;
    animation: scaleIn 0.3s;
}

.custom-select__option {
    cursor: pointer !important;
}
.custom-select__option--is-focused {
    background-color: #b84900 !important;
}

.custom-select__single-value {
    color: #ffffff !important;
    margin-left: 30px !important;
    cursor: pointer !important;
}

.custom-select__option--is-selected {
    background-color: #ff6600 !important;
}
.custom-select__option--is-selected:hover {
    background-color: #b84900 !important;
}

.custom-select__single-value:before {
    background-color: #ff6600;
    border-radius: 50%;
    content: ' ';
    position: absolute;
    left: 15px;
    top: 5px;
    height: 10px;
    width: 10px;
}

/*--------------ANIMELISTBLOCK----------------*/

.animelist-anime-block {
    width: 80%;
    border-radius: 20px;
    padding: 15px;
    background-color: #2e3338;
}

.animelist-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.animelist-wrapper > h2 {
    font-size: 28px;
}

.anime-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

/*--------------ANIMECARD----------------*/
.anime-card-wrapper {
    border: 3px #2e3338 solid;
    background-color: #1c1f22;
    border-radius: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.anime-card-wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 2px #ff6600 solid;
    border-left: 2px #ff6600 solid;
    border-radius: 10px;
    transition: 0.5s;
    transform: scaleY(0);
    pointer-events: none;
}

.anime-card-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-top: 2px #ff6600 solid;
    border-bottom: 2px #ff6600 solid;
    border-radius: 10px;
    transition: 0.5s;
    transform: scaleX(0);
    pointer-events: none;
}
.anime-card-wrapper:hover:before,
.anime-card-wrapper:hover:after {
    transform: scale(1);
}
.anime-card-wrapper:hover {
    border: 3px #2e3338 solid;
}

.anime-card-img {
    width: 230px;
    height: 300px;
    align-self: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.anime-card-description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.anime-card-show-type {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s;
}

.anime-card-show-type:hover {
    color: #ff6600;
}

.anime-card-title {
    font-size: 18px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
}

.anime-card-title:hover {
    color: #ff6600;
}

.anime-card-rating {
    position: absolute;
    bottom: 80px;
    left: 180px;
    width: 50px;
    height: 50px;
    border: 1px solid #ff6600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    background: #1c1f22;
}

.completed-button-wrapper {
    width: 35px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    z-index: 100;
}

.completed-button {
    width: 75%;
    height: 75%;
    background-image: url('./assets/images/viewed_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    border-radius: 10px;
}

.completed-button-wrapper:hover {
    background-color: white;
    opacity: 1;
}

.completed-button-wrapper.active {
    opacity: 1;
    background-color: #ff6600;
}
.completed-button-wrapper.active:hover {
    background-color: #b84900;
    opacity: 1;
}

/*---------------------------------*/
.pagination {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    width: auto;
    padding: 10px;
    background-color: #1c1f22;
    border-radius: 20px;
}

.page-item {
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    border: 2px #1c1f22 solid;
}

.active-pagination {
    background: linear-gradient(to bottom, #ff6600, #b84900);
}

.page-item:hover {
    background: linear-gradient(to bottom, rgba(255, 102, 0, 0.5), rgba(184, 73, 0, 0.5));
}

.page-item:active {
    border: 2px solid #ffffff;
}

.page-item.disabled {
    color: #535b65;
}

/*------------------------Anime Modal--------------------*/

.anime-card-modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.anime-card-modal.active {
    opacity: 1;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.8);
}

.anime__card__modal__content {
    width: 50%;
    height: auto;
    background-color: #1c1f22;
    border: 3px #ff6600 solid;
    border-radius: 20px;
    transition: 0.5s;
    transform: scale(0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}

.anime__card__modal__content.active {
    transform: scale(1);
}

.anime__card__modal__img__wrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
    background-color: #2e3338;
    padding: 10px;
    border-radius: 20px;
}

.anime__card__modal__img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    align-self: center;
}

.anime__card__modal__title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.anime__card__model__info__block {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.anime__card__modal__description {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2e3338;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
    line-height: 1.25;
}

.anime-card-modal-synopsis {
    text-align: justify;
}

.anime-card-modal-genres-wrapper > p,
.anime-card-modal-categories-wrapper > p,
.anime-card-modal-synopsis > p {
    display: inline;
    color: #b84900;
}

.anime-card-modal-genres-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.anime-card-modal-categories-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

/*----------loader--------*/

.loader-wrapper {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.9) url('./assets/images/loader.gif') center no-repeat;
    z-index: 1001;
}

/*-----------------------------User Info--------------*/

.userinfo-page-wrapper {
    background-color: #1c1f22;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user-panel-wrapper {
    position: relative;
    width: 20%;
    background-color: #2e3338;
    border-radius: 20px;
}




/*-----------------------------Viewed List------------*/

.viewed-list-wrapper {
    width: 80%;
    border-radius: 20px;
    padding: 15px;
    background-color: #2e3338;
}

.viewed-list-container {
    display: flex;
    flex-direction: column;
}
.viewed-list-title-container {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #25292D;
    border-left: 5px solid #b84900;
}
.viewed-list__title {
    text-align: left;
    line-height: 60px;
    font-size: 28px;
    font-family: "Bahnschrift";
}

.viewed-list-table-wrapper {
    display: flex;
    flex-direction: column;
}

.viewed-list__grid__item {
    display: grid;
    grid-template-columns: 5% 60% 10% 15% 10%;
    grid-auto-rows: 30px;
    align-items: center;
    justify-items: center;
}

.viewed-list-order-control {
    font-size: 14px;
    background-color: #b84900;
    font-weight: bold;
}

.viewed-list-item-wrapper {
    background-color: #1c1f22;
    line-height: 30px;
    cursor: pointer;
}
.viewed-list-item-wrapper.white{
    background-color: inherit;
}
.viewed-list-item-wrapper:hover {
    background-color: #535b65;
}
.viewed-list-item__current-order {
    font-size: 18px;
}

.viewed-list-item__title {
    font-size: 18px;
}

.viewed-list-item__kind {
    font-size: 16px;
}

.viewed-list-item__date-of-addition {
    font-size: 16px;
}

.viewed-list-item__delete-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.viewed-list-item__delete-button {
    width: 40px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #ff7f7f;
    transition: 0.3s;
    font-size: 20px;
}

.viewed-list-item__delete-button-icon {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewed-list-item__delete-button:hover {
    background-color: #FF0000;
    transform: scale(0.95);
}
.viewed-list-item__delete-button:active {
    transform: scale(1);
}



.footer {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hidden {
    display: none;
}
